/* Container */

.container {
  padding: 4px 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  list-style: none;
}

/* Item */

.container__item {
  margin: 2px 4px;
  display: flex;
  align-items: center;
}

.container__item_input {
  flex-grow: 1;
}

.container__item_email {
  min-width: 0;
  padding: 5px 8px;
  border-radius: 100px;
  background: rgba(102, 153, 255, 0.2);
}

.container__item_invalid {
  border-bottom: 1px dashed #d92929;
  border-radius: 0;
  background: transparent;
}

/* Item content */

.container__input {
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
}

.container__input::placeholder {
  color: #c3c2cf;
}

.container__email {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #050038;
}

.container__remove {
  margin: 0 0 0 8px;
  padding: 0;
  border: none;
  background: transparent;
}
