.wrapper {
  font-family: "Open Sans", sans-serif;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #ffffff;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 0;
  width: 100%;
  list-style: none;
}

.wrapper__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  border: none;
  outline: none;
  width: 100%;
}

.wrapper__input::placeholder {
  color: #c3c2cf;
}

.wrapper__item {
  display: flex;
  align-items: center;
  margin: 2px 4px;
}

.wrapper__item_input {
  flex-grow: 1;
}

.wrapper__item_email {
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  padding: 5px 8px;
  min-width: 0;
}

.wrapper__item_invalid {
  background: transparent;
  border-bottom: 1px dashed #d92929;
  border-radius: 0;
}

.wrapper__item-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #050038;
}

.wrapper__item-remove {
  padding: 0;
  margin: 0 0 0 8px;
  background: transparent;
  border: none;
}
