<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>E-mails input demo</title>

    <meta name="description" content="E-mails input demo">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body,
        button {
            font-family: 'Open Sans', sans-serif;
        }

        .main-block {
            max-width: 540px;
            min-height: 300px;
            max-height: 500px;
            margin: auto;
        }

        .share-form {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            background: #F8F8F7;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

        .share-form__header {
            padding: 32px 50px 0;
        }

        .share-form__title {
            font-size: 20px;
            line-height: 27px;
            font-weight: normal;
            margin: 0;
            color: #050038;
        }

        .share-form__body {
            padding: 24px 50px;
            flex-grow: 1;
            display: flex;
            min-height: 0;
        }

        .share-form__body > div {
            align-self: stretch;
            justify-self: stretch;
            flex-grow: 1;
        }

        .share-form__footer {
            padding: 24px 50px 32px;
            background: #FFFFFF;
        }

        .share-form__button {
            border-radius: 6px;
            padding: 8px 16px;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            background: #4262FF;
            border: none;
        }

        .share-form__button:first-child {
            margin-right: 16px;
        }
    </style>
</head>

<body>
<div class="share-form main-block">
    <div class="share-form__header">
        <h2 class="share-form__title">Share <strong>Board name</strong> with others</h2>
    </div>
    <div class="share-form__body" id="input-container"></div>
    <div class="share-form__footer">
        <button class="share-form__button" id="add-button">Add email</button>
        <button class="share-form__button" id="count-button">Get emails count</button>
    </div>
</div>
</body>

<script>
    var container = document.getElementById("input-container");
    var emailsInput = new EmailsInput(container);

    var addButton = document.getElementById("add-button");
    var countButton = document.getElementById("count-button");

    addButton.addEventListener("click", onAddButtonClick);
    countButton.addEventListener("click", onCountButtonClick);

    function onAddButtonClick() {
        var emails = emailsInput
            .getAllEmails()
            .map(function (email) {
                return email.value;
            });

        var newEmail = generateNewEmail();
        emails.push(newEmail);

        emailsInput.replaceEmails(emails);
    }

    function generateNewEmail() {
        var number = Math.random();
        return number + "@gmail.com";
    }

    function onCountButtonClick() {
        var validEmails = emailsInput
            .getAllEmails()
            .filter(function (email) {
                return email.isValid;
            });

        alert("Number of valid e-mails: " + validEmails.length);
    }

    emailsInput.subscribe(onEmailsInputChanges)

    function onEmailsInputChanges(changes) {
        console.log("Changes in e-mails input", changes);
    }
</script>

</html>
